.container {
    z-index: 10;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 70%;
    z-index: 10;
    position: fixed;
    top: 10vh;
    left: 15%;
  }
