.container {
    z-index: 10;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 70%;
    /* height: 70%; */
    z-index: 10;
    position: fixed;
    top: 10vh;
    left: calc(15%); 
  }

.grid{
    display: grid;
    align-items: top;
    grid-template-columns: 8fr 16fr 1fr;
    column-gap: 5px;
}

.gridbutton{
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 2fr;
    column-gap: 5px;
}
  
  .item {
    margin: 1rem 0;
  }
  
  .image {
    width: 80%;
    height: 25rem;
    overflow: hidden;
    /* border-top-right-radius: 6px;
      border-top-left-radius: 6px; */
    border-radius: 6px;
    margin:20px;
  }
  
  .image img {
    width: 100%;
    object-fit: cover;
  }
  
  .content {
    text-align: center;
    padding: 1rem;
  }
  
  .content h3 {
    font-size: 1.25rem;
    color: #2c292b;
  }
  
  .actions {
    padding: 1.5rem;
    text-align: center;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    color: #001277;
    border: 1px solid #080077;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #e4e2ff;
  }
  

  .close {
    background:none;
    border:none;
    margin:0;
    width: fit-content;
    height: fit-content;
    padding:0;  
    cursor: pointer;
    font-size: 45px;
    font-weight: 600;
    display: inline-block;
    transform: rotate(45deg);
  }